body {
	background-color: #6b76b8 !important;
}

.playset {
	margin-top: 2%;
	text-align: center;
}

.computer-choice {
	color: #fff;
	font-size: 20px;
}

.result {
	margin-top: 2%;
	margin-left: auto;
	margin-right: auto;
	width: 18rem;
	background-color: #fff;
	border-radius: 2.5%;
}

.btn-primary, .btn-success {
	margin-left: auto;
	margin-right: auto;
	border: 3px solid #fff !important;
}

.option {
	margin-top: 4%;
}

.move {
	font-size: 20px;
	color: #fff;
}